<div class="main">
  <header class="header">
    <div class="toolbar">
      <button mat-icon-button color="primary">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <h1 class="title">Pokedex</h1>
      <button mat-icon-button color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </header>
  <div class="stretched-view">
    <div class="pokemon-container">
      <app-pokemon
        *ngFor="let pokemon of data?.results"
        [name]="pokemon.name"
      />
    </div>
  </div>

  <div class="action-container">
    <button
      mat-icon-button
      aria-label="Example icon-button with share icon"
      color="primary"
      class="navigation-button"
      (click)="previous()"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>

    <button
      mat-icon-button
      aria-label="Example icon-button with share icon"
      color="primary"
      class="navigation-button"
      (click)="next()"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
